{
{% for item in linux_users %}
{% if not loop.last %}
	"{{item.username}}_password": "{{ lookup('file', '{{ working_dir }}/{{ tags.ec2_prefix }}-key-private.pem') | b64encode }}",
{% else %}
	"{{item.username}}_password": "{{ lookup('file', '{{ working_dir }}/{{ tags.ec2_prefix }}-key-private.pem') | b64encode }}"
{% endif %}
{% endfor %}
}
