ec2_region = "{{ ec2_region }}"
ec2_prefix = "{{ ec2_prefix }}"
num_instances = "{{ num_instances }}"
application = "{{ application }}"
ec2_image_id = "{{ ec2_image_id }}"
machine_type = "{{ machine_type }}"
tower_username = "{{ tower_user }}"
tower_password = "{{ tower_pass }}"
