gcp_region = "{{ gcp_region }}"
gcp_prefix = "{{ gcp_prefix }}"
gcp_project = "{{ gcp_project }}"
num_instances = "{{ num_instances }}"
application = "{{ application }}"
gcp_disk_image = "{{ gcp_disk_image }}"
machine_type = "{{ machine_type }}"