{
{% for item in linux_users %}
{% if not loop.last %}
	"{{item.username}}_password": "{{ lookup('file', '/tmp/mford-httpd-key-private.pem') | join('\n') }}",
{% else %}
	"{{item.username}}_password": "{{ lookup('file', '/tmp/mford-httpd-key-private.pem') | join('\n') }}"
{% endif %}
{% endfor %}
}
