{
{% for item in linux_users %}
{% if not loop.last %}
	"{{item.username}}_password": "{{ lookup('file', '{{ working_dir }}/mford-httpd-key-private.pem') }}",
{% else %}
	"{{item.username}}_password": "{{ lookup('file', '{{ working_dir }}/mford-httpd-key-private.pem') }}"
{% endif %}
{% endfor %}
}
