{
{% for item in linux_users %}
{% if not loop.last %}
	"{{item.username}}_password": "{{ initial_password }}",
{% else %}
	"{{item.username}}_password": "{{ initial_password }}"
{% endif %}
{% endfor %}
}
